.text-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-x-sm);

  label {
    font-size: var(--font-x-sm);
    color: var(--cool-gray500);
  }

  input {
    padding: var(--space-x-sm);
    border: none;
    border-bottom: 0.1rem solid var(--cool-gray500);
    width: 100%;
    font-size: var(--font-mid);
    color: var(--cool-gray700);
    font-family: var(--font-pretendard);

    &::placeholder {
      color: var(--cool-gray400);
    }

    &:disabled {
      background-color: var(--cool-gray200);
      color: var(--cool-gray600);
      border-radius: var(--border-radius-x-sm) var(--border-radius-x-sm) 0 0;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border-bottom: 0.1rem solid var(--primary);
    }
    &[type="date"],
    &[type="time"] {
      position: absolute;
      opacity: 0;
      width: 100%;
    }
  }

  &__error-text {
    font-size: var(--font-x-sm);
    font-weight: var(--small-text-font-weight);
    color: var(--alert-color);
  }

  &__success-text {
    font-size: var(--font-x-sm);
    color: var(--success-color);
  }

  &-wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-mid);
    &.column2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-mid);
    }
  }
}

.column2-input {
  display: flex;
  justify-content: space-between;
  padding: var(--space-x-sm);
  border: none;
  border-bottom: 0.1rem solid var(--cool-gray500);
  width: 100%;
  label {
    font-size: var(--font-mid);
    color: var(--cool-gray700);
    font-family: var(--font-pretendard);
  }
  &-wrap {
    position: relative;
  }
}

.search-input {
  position: relative;
  width: 100%;

  &__drop-down {
    position: absolute;
    z-index: 10;
    width: 100%;
    overflow-y: auto;
    margin-top: var(--space-mid);
    background-color: white;

    &-wrap {
      max-height: calc(4.8rem * 6);

      &--height-fixed {
        max-height: 47.6rem;
      }
    }
  }

  &__drop-down-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-x-sm);
    padding: var(--space-mid);
    margin-right: var(--space-mid);
    border-bottom: 0.1rem solid var(--cool-gray300);
    font-weight: 400;
    font-size: var(--font-sm);
    color: var(--cool-gray700);
    background-color: white;
    border: none;
    cursor: pointer;

    .location-title {
      display: flex;
      align-items: center;
      gap: var(--space-x-sm);
      color: var(--cool-gray700);
    }
    .location-description {
      color: var(--cool-gray500);
    }
  }
}
