.sign-up-section {
  margin: 4rem 0 1.6rem;
}

.title-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-mid);
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: var(--font-mid3);
  color: var(--cool-gray900);

  p {
    font-weight: 400;
    font-size: var(--font-x-sm);
    color: var(--cool-gray500);
  }
}
