.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--cool-gray200);
  cursor: pointer;

  &__left {
    display: flex;
    align-items: center;
    gap: var(--space-mid);

    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &__name {
      font-size: 16px;
      font-weight: 500;
      color: var(--cool-gray700);
    }
    &__non-member {
      padding: var(--space-x-sm) var(--space-mid);
      font-size: var(--font-sm);
      color: var(--cool-gray500);
      border-radius: var(--border-radius-sm);
      background-color: var(--cool-gray200);
    }
  }
}
